.mago {
    float: left;
    margin-left: 10%;
    width: 100px;
    height: 100px;
    /* margin-right: 50 px; */
    
}

#b_mago{
    background-color: beige;
    color: blueviolet;
    width: 60%;
    margin-left: auto;
    margin-right:  auto;
    align-items: center
}

#myProgressMago {
    width:30%;
    background-color: grey;
    float: left;
    margin-left: 10%;

  }
  
  #myBarMago {
    width: 1%;
    height: 30px;
    background-color: green;
  }







.verduga {

   margin-right: 13%;
   float: right;
   vertical-align: 50px;
   width: 260px;
}

#b_verduga{
    background-color: beige;
    color: blueviolet;
    width: 60%;
    margin-left: 10%;
    margin-right: 30%;
    align-content: center;
}

.guerrero {
    margin-left: auto;
    margin-right: 5%;
    float: right;  
    padding-left: 15%;
    padding-right: 12%; 
    padding-bottom: 20px;
    height: 20%;
}

#b_guerrero{
    background-color: beige;
    color: blueviolet;
    width: 60%;
    margin-left: 25%;
    margin-right: 50%;
}

.ciclope {
    float: left;
    padding-top: 20px; 
     margin-left: 10%;
    margin-right: 3%;   
}

#b_ciclope{
    background-color: beige;
    color: blueviolet;
    width: 50%;
    margin-left: 18%;
    margin-right: auto;
}


h1{
    color: aqua;
}

body{
    background-image:url(source/fondo.jpg);
}

#myProgress {
    width: 60%;
    background-color: grey;
    float: left;
    margin-left: 10%;

  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: green;
  }

  
  